<!-- This is the landing page -->


<div class="container w-25 mb-5 mt-5">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/image/daily-tasks.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Create an account or login</h5>
        </div>
      </div>

</div>
<div class="container">
   <a type="button" href="/users/sign-up" class="btn btn-primary btn-lg btn-block">New User / Sign Up</a>
        <a type="button" href="/users/sign-in" class="btn btn-secondary btn-lg btn-block">Login</a>
</div>
